<div class="jumbotron">
    <p>@Html.ActionLink("Standard Knockout.js", "Index", "StandardKO")</p>
    <p>@Html.ActionLink("DocumentFragment knockout.js", "Index", "DocumentFragment")</p>
    <p>@Html.ActionLink("DocumentFragment knockout.js templates", "Index", "TemplatesDocFragment")</p>
</div>


